body {
    max-width: 1200px;
}

header {
    border-bottom: 1px solid var(--border);
    padding-bottom: 12px;
}
header .title {
    margin: 0;
}
header .title a {
    color: inherit;
}

#toc {
    background-color: var(--background-alt);
    padding: 8px;
}
#toc ul {
    list-style: none;
    display: none;
    padding-left: 0;
    margin: 0;    
}
#toc ul.active {
    display: block;
}
#toc ul ul {
    padding-left: 24px;
}
#toc .expander {
    color: var(--text-muted) !important;
}
#toc .expander::before {
    content: '\1405';
}
#toc .expander.active::before {
    content: '\1401';
}
#toc a.active {
    color: var(--text-muted) !important;
}
#toc-filter {
    width: 100%;
    box-sizing: border-box;
}


#local-toc {
    font-size: 0.76em;
}
#local-toc ul {
    list-style: none;
    padding-left: 4px;
    margin: 0;
    display: none;
}
#local-toc ul.active {
    display: block;
}
#local-toc a.active {
    color: var(--text-muted) !important;
}

#search-results {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.search-results-list {
    list-style: none;
    padding: 0;
    max-width: 900px;
}

.sticky {
    position: sticky;
    top: 24px;
    margin-top: 24px;
    max-height: 80vh;
    overflow: auto;
}

button.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--links);
    text-decoration: none;
    cursor: pointer;
    transform: none !important;
    display: inline;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}


.columns {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.col {
    flex: 1;
    min-width: 0;
}

.col-md {
    flex: 0 0 240px;
}

.col-sm {
    flex: 0 0 160px;
}

.row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}
.sm\:block {
    display: none;
}

@media (max-width:900px) {
    .md\:hide {
        display: none;
    }
}
@media (max-width: 600px) {
    .columns, .row-space {
        flex-direction: column;
    }
    .col-md, .col-sm {
        flex: auto;
    }
    
    .sm\:block {
        display: block;
    }
    .sm\:hide {
        display: none;
    }
    .sm\:hide.active {
        display: block;
    }
    .sticky {
        position: static;
    }
}


h1 a:not(.xref), h2 a:not(.xref), h3 a:not(.xref), h4 a:not(.xref), h5 a:not(.xref), h6 a:not(.xref) {
    color: var(--text-bright);
}
h1 a:not(.xref)::after, h2 a:not(.xref)::after, h3 a:not(.xref)::after, h4 a:not(.xref)::after, h5 a:not(.xref)::after, h6 a:not(.xref)::after {
    content: " §";
    display: none;
    font-weight: normal;
    color: var(--text-muted);
}
h1 a:not(.xref):hover, h2 a:not(.xref):hover, h3 a:not(.xref):hover, h4 a:not(.xref):hover, h5 a:not(.xref):hover, h6 a:not(.xref):hover {
    text-decoration: none;
}
h1:hover a:not(.xref)::after, h2:hover a:not(.xref)::after, h3:hover a:not(.xref)::after, h4:hover a:not(.xref)::after, h5:hover a:not(.xref)::after, h6:hover a:not(.xref)::after {
    display: inline;
}
